* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1fb0e4;
    color: white;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f2f2f2;
}

.hero {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #a392d0;
    color: rgb(48, 39, 39);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #FF4500;
}

.features {
    padding: 50px 0;
    background-color: #fff;
}

.features h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.feature-box {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
    color: #060606;
}

footer {
    background-color: #333;
    color: rgb(224, 228, 230);
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

.social-icons a {
    margin: 0 15px;
    color: rgb(230, 233, 235);
    text-decoration: none;
    font-size: 1.2rem;
}

.social-icons a:hover {
    color: #a97dd8;
}
